<h2 class="page-header">Profile</h2>

<table class = "table table-hover">
  <tr>
    <th height = "35">Event</th>
    <th width = "20%" height = "35">Date</th> 
    <th>Venue</th>
    <th>Category</th>
    <th>Mark </th>
  </tr>

  {{#each data}}
  <tr>
  	<td>{{Title}}</td>
  	<td>{{Date}}</td>
  	<td>{{Venue}}</td>
  	<td>{{Category}}</td>
    <td>
      <form method="POST" action="/mark">
       <button onclick="{{Title}})">Mark</button>
       <a href="/get">read</a> <p></p>
      </form>
    </td>
  </tr>
  {{/each}}
</table>